<head>
    <title>nemo64</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" id="container1">

            <h1>Bienvenue sur Meteor!</h1>
			{{> hello}}

        </div>
        <div class="col-md-4" id="container2">

            <h1>Bienvenue sur Meteor!</h1>
			{{> hello}}

        </div>
        <div class="col-md-4" id="container3">
            <h1>Bienvenue sur Meteor!</h1>
			{{> hello}}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" id="container3">

            <h1>Bienvenue sur Meteor!</h1>
            {{> hello}}

        </div>
        <div class="col-md-4" id="container1">

            <h1>Bienvenue sur Meteor!</h1>
            {{> hello}}

        </div>
        <div class="col-md-4" id="container2">
            <h1>Bienvenue sur Meteor!</h1>
            {{> hello}}
        </div>
    </div>
</div>

</body>

<template name="hello">
    <button>Cliquez moi</button>
    <p>Vous avez cliqué {{counter}} fois.</p>
</template>
